
//font-family: 'Source Sans Pro', serif
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700)

//font-family: 'Playfair Display SC', serif
@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC)

//font-family: 'Ovo', serif
@import url(https://fonts.googleapis.com/css?family=Ovo)

//font-family: 'Montserrat', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Montserrat)


@font-face
  font-family: 'timwn'
  src: url('/content/timwn/timwn.ttf') format('truetype')
  src: url('/content/timwn/timwn1.ttf') format('truetype')
  src: url('/content/timwn/timwn2.ttf') format('truetype')
  src: url('/content/timwn/timwn3.ttf') format('truetype')
  src: url('/content/timwn/timwn4.ttf') format('truetype')
  src: url('/content/timwn/timwn5.ttf') format('truetype')
  src: url('/content/timwn/timwn6.ttf') format('truetype')
  src: url('/content/timwn/timwn7.ttf') format('truetype')
  src: url('/content/timwn/timwn8.ttf') format('truetype')
  src: url('/content/timwn/timwn9.ttf') format('truetype')

@font-face
  font-family: 'TibetanUnicode'
  src: url('content/TibetanUnicode/TibetanUnicode.ttf') format('truetype')


$font1: 'Source Sans Pro'
$font2: 'Playfair Display SC'
$font3: 'Ovo'
$font4: 'Montserrat'
