body, html
  margin: 0
  padding: 0
  background: black
  user-select: none
  cursor: default
  overflow: hidden

a:visited, a:active, a:link, a:hover
  text-decoration: none
  color: inherit

.video-container
  height: 100%
  width: 100%
  overflow: hidden
  position: absolute
  top: 50%
  transform: translate(0, -50%)
  min-width: 100%
  min-height: 100%
  z-index: $z-video-container
  filter: sepia(100%) hue-rotate(0deg)
  video
    height: 100%
    width: 100%

.overlay-class
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  z-index: $z-overlay
  background: $overlay-bg
  // overflow-x: hidden


.header-style
  width: 100vw
  height: 0px
  padding: 50px 0
  color: rgb(78, 77, 77)
  font-size: 30px
  text-transform: uppercase
  font-family: $font4
  text-align: right
  // overflow-y: scroll
  // overflow: auto
  // overflow: initial
  a
    margin: 0 20px

.subpage-header
  // width: auto
  margin: 0 auto
  display: flex
  .sub-header
    display: flex


.blur-class
  filter: blur(0px)

header
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh
  .nav-buttons-wrapper
    // background: pink
    margin-top: 75px
    filter: blur(0.7px)
    // padding: 0 50px
    // width: 70%
    // max-width: 725px
    display: flex
    // justify-content: space-between
    // align-items: center
    flex-flow: column nowrap
    z-index: $z-nav-buttons-wrap
    .nav-buttons-up
      // background: green
      display: flex
    .nav-buttons-down
      display: flex
      // background: olive
    .nav-button-one, .nav-button-two, .nav-button-three, .nav-button-four, .nav-button-five, .nav-button-six
      p
        padding-left: 2px
        // filter: blur(1px)
      background: rgba(0,0,0,0.40)
      height: 140px
      width: 140px
      margin: 10px 100px
      border-radius: 85px
      border: 1px solid #ccc
      font-family: $font3, serif
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      color: #fff
      text-transform: uppercase
      font-size: 16px
      letter-spacing: 3px
      transition: all 1.5s cubic-bezier(0.13, 1.1, 0.92, 0.9)
      &:hover
        transform: scale(1.2)
        background: rgba(0, 0, 0, 0.5)
        cursor: pointer
        // filter: blur(0px)
    // .nav-button-one
    //   font-size: 14px
    // .nav-button-five
    //   font-size: 15px

.page-language
  position: absolute
  top: 5px
  right: 10px
  display: flex
  z-index: $z-nav-buttons-wrap
  // background: olive
  .language-est, .language-eng, .language-rus, .language-tib
    height: 40px
    width: 40px
    border-radius: 20px
    margin: 2px 2px
    // background: red
    opacity: 0.7
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    cursor: pointer
    transition: all 0.5s ease-in-out
    &:hover
      opacity: 1
      transform: scale(1.05)
    &[data-title]:hover:after
      content: attr(data-title)
      color: white
      position: absolute
      left: -15px
      width: 70px
      top: 120%
      // background: green
      text-align: center
      // left: 0
  .language-est
    background-image: url("content/images/ee.gif")
  .language-eng
    background-image: url("content/images/uk.png")
  .language-rus
    background-image: url("content/images/ru.png")
  .language-tib
    background-image: url("content/images/tib.jpg")

.overlay-back-button
  position: absolute
  left: 15px
  top: 15px
  height: 25px
  font-size: 25px
  color: #ccc
  z-index: $z-page-logo
  background: rgba(0,0,0,0.7)
  padding: 2px
  cursor: pointer
  display: none

.page-logo
  position: fixed
  left: 15px
  top: 5px
  height: 109px
  width: 110px
  // background: black
  // border-radius: 60px
  // background: white
  z-index: $z-page-logo
  background: url("content/images/logo-trans.png")
  // background: #ccc
  background-repeat: no-repeat
  background-position: center
  // filter: invert(100%) sepia(100%)
  // opacity: (0.50)
  background-size: contain
  transition: all .25s ease-in-out
  &:hover
    // background: #ccc
    opacity: (0.55)
    cursor: pointer


.pictures-page-overlay
  @extend .overlay-class
  flex-direction: column
  // overflow-x: hidden
  // display: flex
  header
    @extend .header-style
    // height: 100px
    z-index: 2
    position: fixed
    background: rgba(0,0,0,0.8)
    hr
      position: absolute
      right: 0
      margin: 0
      bottom: 0
      border: 0
      border-bottom: 1px solid #7c7a7a
      width: 90%
  .pictures-content
    display: flex
    justify-content: flex-start
    flex: 1
    .pictures-side
      filter: blur(0.55px)
      width: 300px
      color: white
      box-sizing: border-box
      position: fixed
      hr#static-hr
        margin-left: 35px
        width: 70%
        height: 0px
        border-top: 1px solid #ccc
        border-bottom: none
      h2
        margin-top: 150px
        font-size: 30px
        padding: 10px 0
        font-weight: bold
        margin-left: 50px
      ul
        margin-right: 50px
        font-size: 22px
        font-family: $font1, serif
        // cursor: pointer
        letter-spacing: 2px
        position: fixed
        left: 0
        width: 250px

        height: 100vh
        // background: pink
        // overflow-y: scroll
        li
          padding: 5px 0px 5px 50px
          transition: all .25s ease-in-out
          &:hover
            background: rgba(250,250,250,0.3) !important
          &:first-child
            background: rgba(250,250,250,0.2)
        #all-images
          // color: #a8a6a6
          background: rgba(250,250,250,0.2)
          margin-top: 5px
          &:hover
            background: rgba(250,250,250,0.3)
    .pictures-body
      flex: 1
      // border-left: 1px solid #595858
      display: flex
      // justify-content: flex-start
      align-items: flex-start
      flex-flow: row nowrap
      // background: red
      margin-left: 250px
      overflow-y: scroll
      margin-top: 100px
      .col img
        display: none
      .col1, .col2, .col3, .col4, .col5
        border-left: 2px solid black
        // flex: 1
        // height: 500px
        img
          // transform: rotate(180deg)
          width: 100%
          display: block
          height: auto
          // margin: 3px
          border-bottom: 3px solid black
      .col1
        width: 50%
      .col2
        width: 50%
      .col3
        width: 33.3%
      .col4
        width: 25%
      .col5
        width: 20%
.cars-page-overlay
  @extend .pictures-page-overlay
  // display: flex
  header
    @extend .pictures-header
    // height: 100px
    position: fixed
    background: rgba(0,0,0,0.8)
    hr
      position: absolute
      right: 0
      margin: 0
      bottom: 0
      border: 0
      border-bottom: 1px solid #7c7a7a
      width: 90%
  .cars-content
    @extend .pictures-content
    .cars-side
      filter: blur(0.55px)
      @extend .pictures-side
      position: fixed
      // overflow-y: scroll
      ul
        margin-top: 100px
        margin-right: 50px
        font-size: 22px
        font-family: $font1, serif
        width: 100%
        letter-spacing: 2px
        // position: fixed
        top: 0
        left: 0
        width: 300px
        height: calc(100vh - 100px)
        // background: pink
        overflow-y: scroll
        li
          cursor: pointer
          padding: 5px 50px
          transition: none
          &:first-child
            margin-top: 20px
            background: none
            cursor: default
            &:hover
              background: none !important
              cursor: default
          &#events
            padding-bottom: 10px
          &#first
            padding-top: 10px
            border-top: 1px solid white
      .expo-list
        font-size: 20px

    .cars-body
      @extend .pictures-body
      margin-left: 300px
      margin-top: 100px
      // background: red
      .col img
        display: none
      .col1, .col2, .col3, .col4, .col5
        border-left: 2px solid black
        // flex: 1
        // width: 15%
        // height: 500px
        img
          // transform: rotate(180deg)
          width: 100%
          display: block
          height: auto
          border-bottom: 3px solid black




.video-filter-overlay
  @extend .overlay-class
  display: block
  background: $video-filter
  z-index: $z-vidfilter-overlay

.publications-page-overlay
  @extend .overlay-class
  flex-flow: column nowrap
  // display: flex
  header
    @extend .header-style
    // background: red
    // position: relative
  .publications-body
    // background: pink
    margin: 50px 50px
    // height: 100px
    // width: 100px
    color: white
.contact-page-overlay
  @extend .overlay-class
  flex-flow: column nowrap
  // display: flex
  header
    @extend .header-style
    // background: pink
    // margin-top: 200px
    padding: 50px 0
    // height: 100px
    // position: relative
    // display: none
  .contact-content-wrapper
    flex: 1
    overflow-y: scroll
    // height: 3000px
    // display: flex
    .contact-side
      position: fixed
      left: 0
      filter: blur(0.55px)
      width: 250px
      color: #ccc
      display: flex
      box-sizing: border-box
      // position: relative
      // background: #ccc
      // color: black
      // height: 2000px
      ul
        margin-top: 40px
        margin-right: 50px
        font-size: 22px
        font-family: $font4, serif
        cursor: pointer
        width: 100%
        letter-spacing: 0px
        position: fixed
        left: 0
        // background: #636363
        // margin-top: 500px
        // z-index: 100
        // top: 50px
        width: 250px
        // height: 900px
        li
          padding: 7px 50px
          transition: all .25s ease-in-out
          z-index: 20
          &:hover
            background: rgba(250,250,250,0.3) !important
    .contact-body
      // background: green
      margin-left: 250px
      color: #ccc
      flex: 1
      padding: 0px 50px 50px 20px
      display: flex
      flex-flow: column nowrap
      align-items: center
      // height: 2000px
      // overflow-y: scroll
      section
        width: 100%
        .heading
          text-align: center
          font-size: 24px
          color: #787474
          font-weight: 700
          padding: 5px 0
          margin-top: 15px
          background: $section-header
          filter: blur(0.55px)
        article
          padding-top: 15px
          background: $section-article
          color: $main-text-color
      section#contact
        .contact-section-wrapper
          display: flex
          iframe
            padding-top: 15px
            height: 300px
            width: 60%
            max-width: 680px
            opacity: 0.8
          article
            flex: 1
            padding-left: 20px
            width: 40%
      section#documents
        article
          .document-download
            margin-bottom: 5px
            a
              line-height: 28px
              display: inline-block
              p
                display: inline-block
                font-style: italic
                color: #9d9a9a
                margin: 0 25px 0 10px
              .download-image
                float: left
                margin: 0
                display: block
                width: 28px
                height: 28px
                background-image: url("content/images/acrobat_icon.png")
                background-size: contain

.picture-large-overlay
  @extend .overlay-class
  display: none
  background: rgba(0,0,0,0.90)
  // display: block
  .large-picture-container
    position: absolute
    top: 10%
    left: 25%
    height: 80%
    width: 50%
    background: red
  .large-picture-close
    position: absolute
    top: 2.5%
    left: 28%
    // height: 80%
    width: 50%
    font-size: 25px
    line-height: 25px
    color: rgba(255,255,255,0.7)

    text-align: right
    // background: pink
    // &:hover
    //   color: white
    span
      cursor: pointer
      &:hover
        color: white
