<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="main-min.css" type="text/css")
  title Tehnikamuuseum
body
  .video-container
    video(poster="content/images/frame.png" autoplay loop)
      source(data-src="content/images/T3.mp4" type="video/mp4")
      source(data-src="content/images/T3.webm" type="video/webm")
    
  header
    .nav-buttons-wrapper
      .nav-buttons-up
        //- a(href="/muuseum/contact.html")
        a(href="/contact.html")
          .nav-button-five(data-overlay="contact-page-overlay")
            p
              |Muuseum
        //- a(href="/muuseum/expositions.html")
        a(href="/expositions.html")
          .nav-button-one(data-overlay="cars-page-overlay")
            p
              |Näitus
      .nav-buttons-down
        //- a(href="/muuseum/photos.html")
        a(href="/photos.html")
          .nav-button-two(data-overlay="pictures-page-overlay")
            p
              |Ajastud
        //- a(href="/muuseum/publications.html")
        a(href="/publications.html")
          .nav-button-three(data-overlay="publications-page-overlay")
            p
              |Kirjatööd

  .video-filter-overlay
  .page-logo
  .page-language
    a(href="/en")
      .language-eng(data-title="Inglise")
    a(href="/ru.html")
      .language-rus(data-title="Vene")
    a(href="/tib.html")
      .language-tib(data-title="Tiibeti")
  
  script(src="content/script/jquery-1.7.2.min.js")
  script(src="content/script/checkbrowser.js")
  script(src="content/script/main-min.js")
  
