<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="main-min.css" type="text/css")
  title Tehnikamuuseum
body
  .video-container
    video(poster="content/images/frame.png" autoplay loop)
      source(data-src="content/images/T3.mp4" type="video/mp4")
      source(data-src="content/images/T3.webm" type="video/webm")
    
  header 
    .nav-buttons-wrapper
      .nav-buttons-up
        .nav-button-five(data-overlay="contact-page-overlay")
          p
            |Muuseum
        .nav-button-one(data-overlay="cars-page-overlay")
          p
            |Näitus
      .nav-buttons-down
        .nav-button-two(data-overlay="pictures-page-overlay")
          p
            |Ajastud
        .nav-button-three(data-overlay="publications-page-overlay")
          p
            |Kirjatöö
          

  .video-filter-overlay
  .cars-page-overlay(class=".no-display")
    header.cars-header
      p
        | // Näitus // Eksponaadid
      
    section.cars-content
        aside.cars-side
          .static-theme-container
          ul
            li ZIS 110
            li Pobeda M20
            li Mosse 400-422
            li Mosse 401
            li GAZ 11
            li Eksponaat 1
            li Eksponaat 2
            li Eksponaat 3
            li Eksponaat 4
            li Eksponaat 5
            li Eksponaat 6
            li Eksponaat 7
            li Eksponaat 8
            li Eksponaat 9
            li Eksponaat 10
            li Eksponaat 11
            li Eksponaat 12
            li Eksponaat 13
            li Eksponaat 14
            li Eksponaat 15
            li Eksponaat 16
            li Eksponaat 17
            li Eksponaat 18
            li Eksponaat 19
            li Eksponaat 20
            li Eksponaat 21
            li Eksponaat 22
            li Eksponaat 23
            li Eksponaat 24
            li Eksponaat 25
        section.cars-body
          .col1
          .col2
          .col3
          .col4
          .col5
    
  .contact-page-overlay
    header.contact-header
      p
        | Info // Kontakt // Ajalugu 
      //- hr
    .contact-content-wrapper
      aside.contact-side
        ul
          a(href="#contact") 
            li Kontakt / Külastamine
          a(href="#mission")
            li Missioon
          a(href="#history")
            li Ajalugu
          a(href="#collection")
            li Kollektsioon
          a(href="#documents") 
            li Dokumendid
          a(href="#services")
            li Teenused
          a(href="#databases")    
            li Andmebaasid
      section.contact-body
        section#contact
          .heading Kontakt / Külastamine
          .contact-section-wrapper
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38205.0145586066!2d24.673926534252278!3d59.395793455785245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46929513d3a9be2f%3A0x807ed17f20f0802a!2sN%C3%B5mme-Kase+12%2C+11618+Tallinn!5e0!3m2!1sen!2see!4v1466948009764"
              width="650"
              height="450"
              frameborder="0" 
              allowfullscreen)
            article
             | Eesti vanatehnika muuseum asub aadressil Nõmme-Kase 12 Nõmmel, Tallinnas.
             br
             | Muuseumit saab külastada aastaringselt eelneva kokkuleppe alusel. Muuseumi külastus on tasuta. 
             br
             br
             | Kontakt:
             br
             | Rene Levoll
             br
             | +372 5122146, 6700120
             br
             | tehnikamuuseum@gmail.com
             
             
        section#mission
          .heading Missioon
          article
            | Vanatehnika Muuseumi missioon on  kokku koguda  ja  talletada varajane tehnikalugu. Muuseumi peamine tegevus on teadustöö.
            br
            br
            | Käsilolevad uurimisteemad:
            br
            br
            | Auto/motoajastu algus Balti kubermangudes
            br
            | I maailmasõjaeelsete tehnikaklubide tegevus, sportlikud üritused
            br
            | Eestimaa kubermangu auto/motomeeste biograafilise leksikoni koostamine
            br
            | Liivimaa kubermangu auto/motomeeste biograafilise leksikoni koostamine
            br
            | I maailmasõjaeelsed riigi esindusautod, imperaatorliku garaaži masinad

        section#history
          .heading Ajalugu
          article
            | 1976 asutati AUTOM-i juures vanatehnika sektsioon - klubi Unic
            br
            | 1998 registreeriti MTÜ Unic
            br
            | 2005 loodi MTÜ Vanatehnika Liit 
            br
            | 2006 avati esimene näitus Palmse mõisa ruumides
            br
            | 2007 asutati SA Eesti Vanatehnika Muuseum
            br
            | 2011 avati uus näitus praegustes muuseumi ruumides Nõmme-Kase 12
            br
            br
            | Sihtasutuse taha on koondunud peamiselt klubi Unic tegevusega seotud isikud ning klubist aja jooksul võrsunud organisatsioonid. Need on: 
            | MTÜ Unic, MTÜ Vanatehnikaklubi Retrom, MTÜ Eesti Mootorispordi Ajalugu, MTÜ Mootorrattamuuseum, MTÜ Pobiklubi, MTÜ Eesti Moskvich Klubi, MTÜ Eesti Vabadusvõitluse eramuuseum, Estonian Oldtimer Center, MTÜ Järva-Jaani Tuletõrje Selts, Sihtasutus Tartu Lennundusmuuseum ning lisaks 13 eraisikust restauraatorit ja vanatehnika kollektsionääri.
            br
            br
            | SA Eesti Vanatehnika Muuseum juhtkond:
            br
            | Nõukogu esimees - Peeter Mauer. 
            br
            | Liikmed - Märt Karu (klubi Unic-Moto), Heikki Perli (tuletõrjeajaloo ühing Retrom), Tõnis Pappel (klubi Unic), Urmas Teearu (Mootorrattamuuseum).
            br
            | Juhatus - Rene Levoll
        section#collection
          .heading Kollektsioon
          article
           | Ekspositsiooni temaatika osas on põhitähelepanu pööratud vanemale vene/nõukogude tehnikale.
           br
           | Kollektsioonis on mitmeid ajaloolist väärtust omavaid eksponaate. Märgilisemad on Lavrenti Beria kasutuses olnud limusiin  ZIS 110 ja 1964. aasta märtsi  visiidi ajal Soome Vabariigi presidenti Urho Kaleva Kekkost sõidutanud Tšaika (Gaz 13).
           br
           br
           | Enamus eksponaate on restaureerimata. Museaali staatuse omistamisel järgib muuseum konservatiivset poliitikat. Hetkel on museaalina arvel 30 eset.

        section#documents
          .heading Dokumendid
          article
            .document-download
              a(href="content/documents/Põhikiri.pdf" target="_blank")
                .download-image
                p Põhikiri.pdf
              | Muuseumi põhikiri
            .document-download
              a(href="content/documents/raamatukogu 2016.pdf" target="_blank")
                .download-image
                p raamatukogu 2016.pdf
              | Muuseumi raamatukogu

        section#services
          .heading Teenused
          article
           | Teenustena aitab muuseum identifitseerida vanu tehnikateemalisi fotosid ning selgitada vanasõidukite ajalugu. Teenus on tasuta.
        section#databases
          .heading Andmebaasid
          article
           | Eestimaa kubermangu autode, omanike ja autojuhtide nimekiri.
           br
           | Liivimaa kubermangu autode, omanike ja autojuhtide nimekiri. 
           br
           | Tsaariaegne Peterburi autode ja omanike nimekiri.
           br
           | Tsaariaegne Moskva  autode ja omanike nimekiri.
           br
           | Tsaariaegne Odessa  autode ja omanike nimekiri.
           br
           | Eestiaegne autode ja omanike nimekiri.
           br
           | Saksaaegne  autode ja omanike nimekiri.
           br
           | Nõukogudeaegne autode ja omanike nimekiri.
           br
           br
           | Andmebaasid ei ole täielikud. 
           | Eestimaa- ja Liivimaa kubermangude auto/motomeeste andmestik on olnud muuseumi aastatepikkune töö ja selle täiendamine toimub pidevalt. 
           br
           | Venemaa osas on olemas andmestik teatud aastate kohta. 
           br
           | Eestiaja kohta on olemas registreerimisandmed mõnedes linnades ja maakondades (puudub Tallinn). 
           br
           | Saksaaja kohta on andmed liiklemisloa saanud tsiviilsõidukite kohta.
           br
           | Nõukodude perioodi kohta on olemas üsna põhjalik andmestik, kuid ka siin esineb olulisi lünki.
           br
           br
          //-  a(href="#")  siia
  .publications-page-overlay(class=".no-display")
    header.publications-header
      p
        | // Kirjatöö
      hr
    section.publications-content
      section.publications-body
        | Kindral Judenitši auto uskumatud seiklused Eestimaal. Tuna 1/2013, lk. 150–155.
        br
        br
        | Университет в Тарту и 300 лет дома Романовых: история старой фотографии. Москва, Родина. - 2013. - № 6. С. 126-127.
        br
        br
        | 100 aastat Kuradisilda ehk ühe vana foto lugu. Horisont 4/2013, lk. 30-34.
        br
        br
        | Sada aastat Vene impeeriumi viimasest autovõidusõidust. Horisont 4/2014, lk. 14-21.
        br
        br
        | Невероятные приключения автомобиля Юденича в Эстонии. Москва, Родина. - 2014. - № 2. С. 156-158.
        br
        br
        | Impeeriumi viimane autovõistlus: Balti Auto- ja Aeroklubi III autovõistlus suurvürstinna Viktoria Fjodorovna auhinnale. Eesti Vanatehnika Muuseum. Tallinn 2014.
        br
        br
        | Последний автопробег Империи: III Пробег на приз Великой Княгини Виктории Федоровны. Таллин. Издание Эстонского музея ретротехники. Таллинн 2014 г.
        br
        br
        | The Last Motor Race of the Empire. The Third Baltic Automobile and Aero Club Competition for the Grand Duchess Victoria Feodorovna Prize. Estonian Old Technics Museum. Tallinn 2014.
        br
        br
        | Tsaari motopärand Eestimaa teedel. Tuna 1/2016, lk. 149–152.
        br
        br
        | Delaunay-Belleville Vene riiki teenimas. Horisont  2/2016, lk. 16-23.

  .pictures-page-overlay(class=".no-display")
    header.pictures-header
      p
        | // Pildigalerii
      hr
    section.pictures-content
        aside.pictures-side
          .static-theme-container
            h2 Teemad
            hr#static-hr
          ul
            li(data-title="0" class=".active") Tsaariaeg
            li(data-title="1") Saksaaeg
            li(data-title="2") Eestiaeg
            li(data-title="3") Nõukogude aeg
            li(data-title="4") Kaasaeg
        section.pictures-body
          .col1
          .col2
          .col3
          .col4
          .col5
  .picture-large-overlay
    .large-picture-container
    .large-picture-close  Sulge &#9587;
  .page-logo
  .overlay-back-button
    |<< Tagasi esilehele
  .page-language
    .language-est(data-title="Eesti")
    .language-eng(data-title="Inglise")
    .language-rus(data-title="Vene")
    .language-tib(data-title="Tiibeti")
    //- .language-tib(data-title="བོད་སྐད།")
  
  script(src="content/script/jquery-1.7.2.min.js")
  script(src="content/script/checkbrowser.js")
  script(src="content/script/app-min.js")
  
