<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="main-min.css" type="text/css")
  title Tehnikamuuseum
body
  .product-body-wrapper
    section.main-section
      p test test
      br
      p Test tekst trükin tähti
  script(src="content/script/jquery-1.7.2.min.js")
