<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="main-min.css" type="text/css")
  title Tehnikamuuseum
body
  .publications-page-overlay
    header.header-est
      .subpage-header
        .front-page-header
          a(href="/")
            | Esileht
        .sub-header
          .sub-header-top
            a(href="/contact.html")
              | Muuseum
            a(href="/expositions.html")
              | Näitus
          .sub-header-bottom
            a(href="/photos.html")
              | Ajastud
            a(href="/publications.html")
              | Kirjatöö
    section.publications-content
      section.publications-body
        p
          | Kindral Judenitši auto uskumatud seiklused Eestimaal. 
        a(href="content/documents/Tuna 1.2013.pdf" target="_blank")
          | Tuna 1/2013, lk. 150–155.
        p
          | Университет в Тарту и 300 лет дома Романовых: история старой фотографии.
        a(href="content/documents/Тартуский Университет  и 300 летие Романовых (original).pdf" target="_blank")
          | Москва, Родина. - 2013. - № 6. С. 126-127.
        p
          | 100 aastat Kuradisilda ehk ühe vana foto lugu. 
        a(href="content/documents/Horisont 4.2013.pdf" target="_blank")
          | Horisont 4/2013, lk. 30-34.
        p
          | Sada aastat Vene impeeriumi viimasest autovõidusõidust. 
        a(href="content/documents/Horisont 4.2014.pdf" target="_blank")
          | Horisont 4/2014, lk. 14-21
        a(href="content/documents/Loodusajakiri 14-08-14.mp3" target="_blank")
          | Intervjuu Raadio Kukus 14.08.2014.
        p
          | Невероятные приключения автомобиля Юденича в Эстонии. 
        a(href="content/documents/Невероятные приключения автомобиля Юденича в Эстонии (original).pdf" target="_blank")
          | Москва, Родина. - 2014. - № 2. С. 156-158.
        p
          | Impeeriumi viimane autovõistlus: Balti Auto- ja Aeroklubi III autovõistlus suurvürstinna Viktoria Fjodorovna auhinnale.
        p
          | Последний автопробег Империи: III Пробег на приз Великой Княгини Виктории Федоровны.
        p
          | The Last Motor Race of the Empire. The Third Baltic Automobile and Aero Club Competition for the Grand Duchess Victoria Feodorovna Prize.
        a(href="content/documents/imp ENGL.pdf" target="_blank")
          | Estonian Old Technics Museum. Tallinn 2014.
        p
          | Tsaari motopärand Eestimaa teedel. 
        a(href="content/documents/Tuna 1.2016.pdf" target="_blank")
          | Tuna 1/2016, lk. 149–152.
        p
          | Delaunay-Belleville Vene riiki teenimas.
        a(href="content/documents/Horisont 2.2016.pdf" target="_blank")
          | Horisont  2/2016, lk. 16-23.
        a(href="content/documents/Loodusajakiri 16-04-28.mp3" target="_blank")
          | Intervjuu Raadio Kukus, 28.04.2016.
        p
          | Sihtasutuse Haapsalu ja Läänemaa Muuseumid XXIII ajalookonverents 2. juul 2016.a. SA Eesti Vanatehnika Muuseum ettekanne „Läänemaa auto/motomehed enne I ilmasõda“. 
        a(href="content/documents/LÄÄNEMAA AUTOD (ettekande teesid).pdf" target="_blank")
          | Teesid
  .page-language
    a(href="/")
      .language-est(data-title="Eesti")
    a(href="/en.html")
      .language-eng(data-title="Inglise")
    a(href="ru.html")
      .language-rus(data-title="Vene")
    a(href="tib.html")
      .language-tib(data-title="Tiibeti")
    //- .language-tib(data-title="བོད་སྐད།")
  
  script(src="content/script/jquery-1.7.2.min.js")
  script(src="content/script/checkbrowser.js")
  script(src="content/script/app-min.js")
  
