<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="main-min.css" type="text/css")
  title Tehnikamuuseum
body
  .publications-page-overlay(class=".no-display")
    header.subpage-header
      a(href="/muuseum/")
        | Esileht
      a(href="/muuseum/contact.html")
        | Muuseum
      a(href="/muuseum/expositions.html")
        | Näitus
      a(href="/muuseum/photos.html")
        | Ajastud
      a(href="/muuseum/publications.html")
        | Kirjatöö
    section.publications-content
      section.publications-body
        | Kindral Judenitši auto uskumatud seiklused Eestimaal. Tuna 1/2013, lk. 150–155.
        br
        br
        | Университет в Тарту и 300 лет дома Романовых: история старой фотографии. Москва, Родина. - 2013. - № 6. С. 126-127.
        br
        br
        | 100 aastat Kuradisilda ehk ühe vana foto lugu. Horisont 4/2013, lk. 30-34.
        br
        br
        | Sada aastat Vene impeeriumi viimasest autovõidusõidust. Horisont 4/2014, lk. 14-21.
        br
        br
        | Невероятные приключения автомобиля Юденича в Эстонии. Москва, Родина. - 2014. - № 2. С. 156-158.
        br
        br
        | Impeeriumi viimane autovõistlus: Balti Auto- ja Aeroklubi III autovõistlus suurvürstinna Viktoria Fjodorovna auhinnale. Eesti Vanatehnika Muuseum. Tallinn 2014.
        br
        br
        | Последний автопробег Империи: III Пробег на приз Великой Княгини Виктории Федоровны. Таллин. Издание Эстонского музея ретротехники. Таллинн 2014 г.
        br
        br
        | The Last Motor Race of the Empire. The Third Baltic Automobile and Aero Club Competition for the Grand Duchess Victoria Feodorovna Prize. Estonian Old Technics Museum. Tallinn 2014.
        br
        br
        | Tsaari motopärand Eestimaa teedel. Tuna 1/2016, lk. 149–152.
        br
        br
        | Delaunay-Belleville Vene riiki teenimas. Horisont  2/2016, lk. 16-23.
  .page-language
    a(href="/")
      .language-est(data-title="Eesti")
    a(href="/en.html")
      .language-eng(data-title="Inglise")
    a(href="ru.html")
      .language-rus(data-title="Vene")
    a(href="tib.html")
      .language-tib(data-title="Tiibeti")
    //- .language-tib(data-title="བོད་སྐད།")
  
  script(src="content/script/jquery-1.7.2.min.js")
  script(src="content/script/checkbrowser.js")
  script(src="content/script/app-min.js")
  
