<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="main-min.css" type="text/css")
  title музей ретротехники
body
  .contact-page-overlay
    header
      .subpage-header
        .front-page-header
          a(href="/")
            | В НАЧАЛО
        .sub-header
          .sub-header-top
            a(href="/contact.html")
              | МУЗЕЙ 
            a(href="/expositions.html")
              | ВЫСТАВКА 
          .sub-header-bottom
            a(href="/photos.html")
              | ЭПОХИ 
            a(href="/publications.html")
              | ПУБЛИКАЦИИ
    .contact-content-wrapper
      aside.contact-side
        ul
          a(href="#contact") 
            li контакт
          a(href="#mission")
            li миссия
          a(href="#history")
            li история музея
          a(href="#collection")
            li коллекция
          a(href="#documents") 
            li документы
          a(href="#services")
            li услуги
          a(href="#databases")    
            li база данных
      section.contact-body
        section#contact
          .heading контакт
          .contact-section-wrapper
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38205.0145586066!2d24.673926534252278!3d59.395793455785245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46929513d3a9be2f%3A0x807ed17f20f0802a!2sN%C3%B5mme-Kase+12%2C+11618+Tallinn!5e0!3m2!1sen!2see!4v1466948009764"
              width="650"
              height="450"
              frameborder="0" 
              allowfullscreen)
            article
              | Эстонский музей ретротехники. 
              br
              | Адрес музея Нымме-Касе 12, Таллинн. Посещение музея бесплатно по предварительной договоренности.
              br
              | email: tehnikamuuseum@gmail.com
              br
              | тел. +372 5122146  Ренэ Леволл
        section#mission
          .heading миссия
          article
            | Главная миссия музея – собрать и сохранить раннею историю авто-мототехники. Основным занятием музея является научно-исследовальская работа.
            br
            br
            | Рабочие темы:
            br
            br
            | Начало автомоторной эпохи в Балтийских губерниях
            br
            | Деятельность авто-мотоклубов до I мировой войны, спортивные мероприятия
            br
            | Составление биографического лексикона  авомобилистов-мотористов  Эстляндской губернии
            br
            | Составление биографического лексикона  авомобилистов-мотористов  Лифляндской губернии
            br
            | Представительские машины до I мировой войны, автомобили императорского гаража

        section#history
          .heading История музея
          article
            | В 1976 году при обществе автомобилистов АУТОМ была организована секция старой техники – клуб Уник
            br
            | В 1998 было зарегистрировано НКО Уник
            br
            | В 2005 году был основан НКО Союз Ретротехники
            br
            | В 2006 году была открыта первая выставка в помещениях поместья Палмсе
            br
            | В 2007 году был основан ЦО Эстонский музей ретротехники
            br
            | В 2011 году была открыта выставка в помещениях музея по адресу Нымме-Касе 12 в Таллинне
            br
            br
            | SРуководство музея:
            br
            | Совет: Мярт Кару, Хейкки Перли, Тынис Паппел, Урмас Тееару
            br
            | Руководитель: Ренэ Леволл
        section#collection
          .heading Коллекция
          article
           | Основная тематика музея – старая советская техника. В коллекции музея есть несколько исторических экспонатов. Очевидно наибольший интерес представляют Чайка (ГАЗ 13) которым пользовался президент Финляндии Урхо Калева Кекконен во время визита в Эстонию в 1964 году, а также ЗИС 110 (нр. шасси 47, нр. ГОН-а 2) – с января по 26 апреля 1946 года машина первого заместителя Сов. Министров СССР Лаврентия Берии.
        section#documents
          .heading документы
          article
            .document-download
              a(href="content/documents/Põhikiri.pdf" target="_blank")
                .download-image
                p Põhikiri.pdf
              | устав
            .document-download
              a(href="content/documents/raamatukogu 2016.pdf" target="_blank")
                .download-image
                p raamatukogu 2016.pdf
              | библиотека

        section#services
          .heading Услуги
          article
           | Музей помогает идентифицировать фотографии старых автомобилей и мотоциклов, а также восстанавливать историю личного ретротранспорта.
        section#databases
          .heading База данных
          article
           | Список владельцев авто-мототехники  и шоферов Эстляндской губернии.
           br
           | Список владельцев авто-мототехники  и шоферов Лифляндской губернии.
           br
           | Список владельцев автомобилей Санкт-Петербурга.
           br
           | Список владельцев автомобилей  Москвы.
           br
           | Список владельцев автомобилей  Одессы.
           br
           | Список владельцев автомобилей эстонского периода.
           br
           | Список владельцев автомобилей немецкого периода.
           br
           | Список владельцев автомобилей советского периода.
           br
           br
           | Базы данных не полные. Списки автомобилистов Балтийских губерний – многолетний труд музея, который не завершен. По российским городам  есть данные на конкретный год. По эстонскому (довоенному) периоду сохранились списки отдельных  городов и уездов. Во время немецкого периода были составлены списки цивильных автомобилей, которым было выдано разрешение на езду. По советскому периоду частично сохранились картотеки и регистрационные книги.
  .page-language
    a(href="/")
      .language-est(data-title="Eesti")
    a(href="/en.html")
      .language-eng(data-title="Inglise")
    a(href="ru.html")
      .language-rus(data-title="Vene")
    a(href="tib.html")
      .language-tib(data-title="Tiibeti")
    //- .language-tib(data-title="བོད་སྐད།")
  
  script(src="content/script/jquery-1.7.2.min.js")
  script(src="content/script/checkbrowser.js")
  script(src="content/script/contact-min.js")
  
